<link rel="stylesheet" type="text/css" href="~/Content/MyStyles.css" media="screen" />
@{
    ViewBag.Title = "AboutUs";
}



<div class="divTable AboutUs">
    <div class="divTableHeading">
        <div class="divTableRow">
            <div class="divTableHead"><h2>Dear Returned Missionary</h2></div>
        </div>
    </div>
    <div class="divTableBody">
        <div class="divTableRow">
            <div class="divTableCell">This site was establihsed by 4 returned missionaries. The purpose of this site is to help recently-called missionaries to connect with returned missionaries. We hope that you will use this resource to prepare you for your mission by asking questions to the missionaries who have served in your areas before you. If you feelso inclined to, you are invited to return after your missions and help other missionaries prepare!</div>
        </div>
        <div class="divTableRow">
            <div class="divTableCell">
                <img src="~/Content/Photos/missionary tag.jpg" />
            </div>
        </div>
        <div class="divTableRow">
            <div class="divTableCell">GOOD LUCK! Wherever you're going, we know you'll be great!</div>
        </div>
        <div class="divTableRow">
            <div class="divTableCell">"Dear Future Missionary" is a variation of the "Dear Elder" company that advocates for more meaningful communication between missionaries and their friends and family. With the recent change to allow missionaries to call, skype, and text their families weekly, we can tell how important communication is for missionaries. Practice spreading messages now by sharing this site with your friends who will serve or have served. Thanks! </div>
        </div>
    </div>
    <div class="divTableFoot tableFootStyle">
        <div class="divTableRow">
            <div class="divTableCell">
                @Html.ActionLink("Back to Home", "Index", "Home") 
                |
                @Html.ActionLink("Missions", "MissionChoices", "Mission")
                |
                @Html.ActionLink("Contact", "Contact", "Contact")


            </div>
        </div>
    </div>
</div>


