
@{
    ViewBag.Title = "Index";
}

<div class="jumbotron">
    @Html.ActionLink("Missions", "MissionChoices", "Mission")
    <br />
    @Html.ActionLink("About Us", "AboutUs", "About")
    <br />
    @Html.ActionLink("Contact", "Contact", "Contact")

</div>

