
@{
    ViewBag.Title = "Index";
}

<br /><br />
<center>
    <div class="jumbotron">

        <h2>Welcome to Dear Returned Missionary</h2>
        <h4>How can we help you today? </h4>
        <br />
        <a href="@Url.Action("MissionChoices", "Mission")" class="jumbotronButton">Missions</a>

        <a href="@Url.Action("AboutUs", "About")" class="jumbotronButton">About Us</a>

        <a href="@Url.Action("Contact", "Contact")" class="jumbotronButton">Contact</a>
        <br />
        <br />
    </div>
</center>
