
@{
    ViewBag.Title = "Index";
}

<div class="jumbotron">
   
    <a href="@Url.Action("MissionChoices", "Mission")" class="jumbotronButton">Missions</a>
    <br />
    <a href="@Url.Action("AboutUs", "About")" class="jumbotronButton">About Us</a>
    <br />
    <a href="@Url.Action("Contact", "Contact")" class="jumbotronButton">Contact</a>

</div>

